:root{
--black-300: #212121;
--purple-300: #8733ff;
}

body {
  padding: 0;
  margin: 0;
  background-color:var(--black-300);
}

.backgrondcolorheader{
    background-color: var(--purple-300);
}

.containerHeader {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0 10%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.logoSite {
  width: 150px;
  height: 150px;
}
.containerButtons {
  padding-right: 2%;
}
